.divColor1 {
	width: auto;
	height: 5px;
	border-radius: 12px;
	background-color: green;
}

.divColor2 {
	width: auto;
	height: 5px;
	border-radius: 12px;
	background-color: rgb(231, 231, 33);
}

.divColor3 {
	width: auto;
	height: 5px;
	border-radius: 12px;
	background-color: rgb(215, 125, 29);
}

.divColor4 {
	width: auto;
	height: 5px;
	border-radius: 12px;
	background-color: rgb(57, 57, 255);
}

.divColor5 {
  width: auto;
  height: 5px;
  border-radius: 12px;
  background-color: #fff;
}
